footer
{
  text-align: center;
  width: 100%;
  height: 100%;
  color: darkgoldenrod; 
 background-color: black;
 position: fixed bottom;
}

nav {
  font: bold 38px Arial, Verdana, sans-serif;
  text-align: center; 
  background: rgba(50,50,50,0.3);
}
a:hover {
  color: goldenrod;
}

.title-1{  
  margin: 0 ;
  padding: 0; 
  background-image: url("images/pasadena-hero.jpeg"); 
  height: 750px; 
  width: 1950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.titleColor {
 color: #9ed7ea;
  font-size: 60px;
  position: relative;
  
}

.bodyIndex {
 background: linear-gradient(to bottom,steelblue,darkgoldenrod);
 backgound-repeat: no-repeat;
  
}

.link{
text-decoration: none;
  color: #cba8ff;
  padding: 50px; 
}

h2 {
  font-size: 45px 
}

p {
  font-size: 25px 
}

.sectionImg {

  height: 150px;
  width: 150px;
}