footer {
  text-align: center;
  width: 100%;
  height: 100%;
  color: darkgoldenrod;
  background-color: black;
  position: fixed bottom;
}

section {
  border: black;
}

nav {
  font: bold 38px Arial, Verdana, sans-serif;
  text-align: center;
  background: rgba(50, 50, 50, 0.3);
  position: absolute top;
}

body {
  background: linear-gradient(to top right, rgb(80, 217, 52), forestgreen);
}

figcaption {
  font-size: 30px;
}

figure {

  font-size: 25px;
}

.link {
  text-decoration: none;
  color: #cba8ff;
  padding: 50px;
}

a:hover {
  color: goldenrod;
}

.ptvTitle {
  font-size: 50px;
  font-family: Impact, fantasy;
}

.title {
  width: 100%;
  text-psotion: center;
  font: 100px Cambria;
  margin: 0;
  text-decoration: underline;
  text-align: center;

  .rose-parade {
    width: 500px;
    height: 300px
  }